

  <p id="notice"><%= notice %></p>
<div class="container">
  <h1>Khang 's Blog</h1>
  <h2>This is my first RoR for CoderSchool</h2>

    <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>
